[Unit]
Description=Auto run md5 management server on startup
After=default.target


[Service]
Type=simple
WorkingDirectory=/usr/local/md5_mgmt/
ExecStart=/bin/bash run_mgmt.sh
KillSignal=SIGQUIT
KillMode=process
StandardOutput=syslog
StandardError=inherit
ExecStop=

[Install]
WantedBy=default.target
